// ░█▄█░█▀█░█▀█░▀█▀░▀█▀░█▀█░█▀▄░█▀▀
// ░█░█░█░█░█░█░░█░░░█░░█░█░█▀▄░▀▀█
// ░▀░▀░▀▀▀░▀░▀░▀▀▀░░▀░░▀▀▀░▀░▀░▀▀▀
output "eDP-1" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "2880x1800@120"
    scale 2
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"
    position x=-1280 y=0
}
output "HP Inc. HP V24ie G5 3CM4160RM6"{
    mode "1920x1080@74.973"
    scale 1.08
}

switch-events {
    lid-close { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
}
